body {
  font-family: 'oswald', sans-serif; 
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-image: url(./images/pexels-photo-3700369.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}


header {
    width: 100%;
    border: solid 3px black;
    height: 100px;
    background-color: #162c4c;
    color: #00FFFF;
    
}

.h1-title {
    padding: 2%;
    font-size: 50px;
    text-align: center;
    background-color: #162c4c;
    font-family: 'oswald', sans-serif; 
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 0 , 0 0px , 0px 0 #CB2D6F, 3px -4px #CB2D6F;
  
}
.h1-fav {
    font-size: 40px;
    font-family: 'oswald', sans-serif; 
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 5%;
    color: #00FFFF;
    text-shadow: 3px 0 black, 0 3px black, 0px 0 black , 3px -2px black;
}
.h2-forecast {
    font-size: 30px;
    font-family: 'oswald', sans-serif; 
  font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 2%;
    color: #00FFFF;
    text-shadow: 3px 0 black, 0 3px black, 0px 0 black , 3px -2px black;
}
.forecast-text{
    font-size: 9px;
    font-family: 'oswald', sans-serif; 
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 2%;
    color:#00FFFF;
}

.herosearch {
    width: 25%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 37.5%;
}

.herofav {
    border: solid 3px black;
    background-color: #162c4c;
    margin-left: 2%;
    margin-right: 1%;
    height: 650px;
color:#00FFFF ;
}

.heroother {
    border: solid 3px black;
    background-color: #162c4c;
    margin-left: .5%;
    margin-right: .5%;
    
}

#star {
    top:5px;
    padding-bottom: 15px;
    font-size: 200%;
}

.star{
    opacity: 50%;
    cursor:pointer;
    padding:4px;
    display:flex;
    position: static;
}

.favlinks  {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 24px;
}

#star:hover{
opacity: 100%;
cursor: pointer;
}

@media screen and (max-width: 760px) {
    .heroseven {
        display: none;
    }
}