header {
    width: 100%;
    background-color: aqua;
    border: solid 3px blue;
    height: 100px;
}

header h1 {
    padding: 1.2%;
    font-size: 40px;
    text-align: center;
}

.herosearch {
    width: 25%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 37.5%;
}

.herofav {
    border: solid 3px black;
    background-color: bisque;
    margin-left: 2%;
    margin-right: 1%;
    height: 650px;

}

.heroother {
    border: solid 3px black;
    background-color: bisque;
    margin-left: .5%;
    margin-right: .5%;
}
.stars{
    display:flex;
}
.stars a{
    opacity: 50%;
    cursor:pointer;
    padding:3px;
}
.stars:hover a{
opacity: 100%;
}
.stars a:hover ~ a {
    opacity:50%
}
@media screen and (max-width: 760px) {
    .heroseven {
        display: none;
    }
}